*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 375px;
    margin: 0 auto;
   
}
/* top section */
.top-section{
    background-color:hsl(234, 85%, 45%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.first{
   padding: 20px;
    text-align: center;
}
.p{
    color: wheat;
    margin-top: 10px;
    margin-bottom: 20px;
}
.t{
    background-color:hsl(252, 100%, 67%);
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 30px;
    padding: 7px;
   
}
.t .first{
    color:  hsl(0, 0%, 100%);
    font-size: 3rem;
}
.t .second{
    color: hsl(0, 0%, 100%);
    font-size: 10px;
}
.one{
    color: wheat;
    margin-bottom: 10px;
}
.two{
    color: hsl(241, 100%, 89%);
    
}

/* bottom section */
.reaction{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(221, 100%, 96%)
}
.memory{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(221, 100%, 96%)
}
.visual{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(221, 100%, 96%)
}
.verbal{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(221, 100%, 96%)
}
.btn{
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(74, 72, 77);
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (min-width: 1440px){
    #container{
        display: flex;
        /* flex-direction: row-reverse; */
        justify-content: center;
        width: 1440px;
        margin: 10% auto;
        /* box-shadow: 2px 2px 1px 1px yellow; */
    }
    .top-section{
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
    }
    .t{
        background-color:hsl(252, 100%, 67%);
        height: 100px;
        width:  100px;
        /* width: fit-content; */
        margin: 0 auto;
        border-radius: 100%;
        margin-bottom: 30px;
        padding: 7px;
       
    }
    .t .first{
        color:  hsl(0, 0%, 100%);
        font-size: 3rem;
    }
    .anoda{
        width: 250px;
    }
    .one{
        font-size: 2rem;
    }
    .two{
        /* width: 300px; */
        margin-top: 30px;
        /* font-size: 1.2rem; */
    }
}